@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4caf50;
  --secondary-color: #2d4059;
  --background-color: #f2f2f2;
  --texture: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
}

body {
  color: var(--secondary-color);
  background-color: var(--background-color);
  background-image: var(--texture);
  height: 100%;
  width: 100%;
  @apply text-sm;
}
